/* common */
:root {
  --color-ag-dark: #0f0f0f;
  --color-ag-light: #f0f0f0;
  --color-bg-page: #f0f0f0;
  --color-bg-box: #ffffff;
  --color-bg-editor: #f6f8fa;
  --color-link: #074d9c;
  --color-comment: #005c00;
  --color-command: #0550ae;
  --spacing-default: 1.25rem;
  --spacing-half: calc(var(--spacing-default) / 2);
  --spacing-page-hor: calc(var(--spacing-default) * 8);
  --spacing-page-ver: calc(var(--spacing-default) * 2);
  --spacing-box-hor: calc(var(--spacing-default) * 4);
  --spacing-box-ver: calc(var(--spacing-default) * 2);
  --border-radius: 4px;
  --height-button: 2.5rem;
  --spacing-column: 0.75rem;
  --drop-shadow: 0 0 0.5rem #dcdcdc;
  --button-shadow: 0 0 0.5rem #dcdcdc;
  --font-body: system-ui, "Helvetica Neue", sans-serif;
}

@media all and (max-width: 1690px) {
  :root {
    --spacing-page-hor: 7rem;
  }
}

@media all and (max-width: 980px) {
  :root {
    --spacing-page-hor: 3rem;
    --spacing-box-hor: 2rem;
  }
}

@media all and (max-width: 736px) {
  :root {
    --spacing-page-hor: 0.75rem;
    --spacing-page-ver: 0.75rem;
    --spacing-box-hor: 1.5rem;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(14px + (18 - 14) * (100vw - 420px) / (2560 - 420));
  color: var(--color-ag-dark);
  background-color: var(--color-bg-page);
}

html,
body,
main {
  overflow: auto;
  min-height: 100vh;
}

body {
  font-size: 16px;
  font-family: var(--font-body);
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: var(--spacing-default) 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: var(--spacing-default) 0;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: var(--spacing-half) 0;
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
  margin: var(--spacing-half) 0;
}

li {
  font-size: 1rem;
  line-height: 2.5rem;
  list-style: square;
  list-style-position: inside;
}

/* workarounds for generated html lists */
li .margin-bottom {
  margin-bottom: 0;
}

li p {
  display: inline;
}

a {
  cursor: pointer;
  color: var(--color-link);
  font-weight: normal;
  font-family: var(--font-body);
  text-decoration: none;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid transparent;
  transition: color 0.4s, border-color 0.4s !important;
}

a:hover {
  color: var(--color-link);
  text-decoration: none;
  border-bottom: 1px solid var(--color-link);
  transition: color 0.4s, border-color 0.4s !important;
}

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  border-bottom: 2px solid var(--color-bg-page);
}

td,
th {
  padding: 0.5rem 0.5rem;
}

tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--color-bg-page);
}

.page {
  padding: calc(var(--spacing-page-ver) / 2) var(--spacing-page-hor);
}

.box {
  background-color: var(--color-bg-box);
  padding: var(--spacing-box-ver) var(--spacing-box-hor);
  box-shadow: var(--drop-shadow);
  border-radius: var(--border-radius);
}

.box hr {
  background-color: var(--color-bg-page);
  border: none;
  display: block;
  height: 2px;
  margin: var(--spacing-box-ver) 0;
}

.columns {
  display: flex;
  margin: calc(var(--spacing-column) * -1);
  flex-wrap: wrap;
  justify-content: center;
}

.columns>div {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: var(--spacing-column);
}

.button {
  display: inline-block;
  cursor: pointer;
  color: var(--color-ag-light);
  background-color: var(--color-ag-dark);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
  padding: 0 1rem;
  width: 15rem;
  line-height: var(--height-button);
  user-select: none;
  text-decoration: none;
  text-align: left;
  font-size: 1rem;
  font-family: var(--font-body);
  font-weight: normal;
  transition: background-color 0.4s, border-color 0.4s !important;
}

.button:hover {
  color: var(--color-ag-dark);
  background-color: transparent;
  border: 1px solid var(--color-ag-dark);
  text-decoration: none;
  transition: background-color 0.4s, border-color 0.4s !important;
}

.button>[class*="icon-"] {
  float: right;
  margin-left: 1rem;
  font-style: normal;
}

.appgate-logo {
  max-width: 8rem;
  margin: var(--spacing-half) 0;
}

.code-editor {
  text-align: left;
  padding: var(--spacing-default);
  overflow-x: scroll;
  background-color: var(--color-bg-editor);
  border: 1px solid var(--color-bg-page);
  border-radius: var(--border-radius);
}

.code-editor code {
  color: var(--color-ag-dark);
  font-family: Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9rem;
  line-height: 1.5;
}

.code-command {
  font-weight: bold;
  color: var(--color-command);
}

.code-comment {
  color: var(--color-comment);
}

.tag {
  background-color: var(--color-bg-page);
  padding: 0.25rem 0.5rem;
  font-size: smaller;
  border-radius: var(--border-radius);
}

/* icons */
.icon-download:before {
  content: "\21E9";
}

/* helpers */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.margin-top {
  margin-top: var(--spacing-default);
}

.margin-top-small {
  margin-top: calc(var(--spacing-default) / 2);
}

.margin-bottom {
  margin-bottom: var(--spacing-default);
}

.margin-bottom-small {
  margin-bottom: calc(var(--spacing-default) / 2);
}

.margin-none {
  margin: 0;
}

.padding-none {
  padding: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.emphasize {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.example-summary {
  padding: 1rem 0.5rem;
  cursor: pointer;
  background-color: var(--color-bg-editor);
  border: 1px solid var(--color-bg-page);
  border-radius: var(--border-radius);
  user-select: none;
}

.details {
  text-align: left;
}

.details+.details {
  margin-top: var(--spacing-half);
}

.details .code-editor {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.breadcrumb {
  width: 100%;
  text-align: left;
}

.breadcrumb .bc-crumb {
  white-space: nowrap;
}

.breadcrumb .bc-seperator {
  margin: 0 0.25rem;
  word-break: break-all;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-page: #000000;
    --color-bg-box: #181818;
    --color-bg-editor: #0f0f0f;
    --color-link: #5ea6f8;
    --color-comment: #00b800;
    --color-command: #58a0f9;
    --drop-shadow: 0 0 0.5rem #232323;
    --button-shadow: 0 0 0.5rem #232323;
  }

  html {
    color: var(--color-ag-light);
  }

  .box {
    box-shadow: none;
  }

  .button {
    display: inline-block;
    cursor: pointer;
    color: var(--color-ag-dark);
    box-shadow: none;
    background-color: var(--color-ag-light);
  }

  .button:hover {
    color: var(--color-ag-light);
    background-color: transparent;
    border: 1px solid var(--color-ag-light);
  }

  .code-editor code {
    color: var(--color-ag-light);
  }

  .code-command {
    color: #0e76f8;
  }
}
