on:
  workflow_call:
    inputs: {}
    secrets: {}

jobs:
  test:
    name: Unit & Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: ^1.19
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Test formatting
        run: make fmtcheck

      - name: Unit tests
        run: make test

      - name: Test compiling
        run: make build
